{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<div class="jumbotron cd_store">
    <div class="row">
        <div class="col-md-6">
            <img class="img-responsive" src="images/cd_store.jpg">
        </div>
        <div class="col-md-6">
            <h2>Les Blu-ray et les CDs, c'est la vie !<br> <small>Bienvenue sur le AmazonE Store !</small></h2>
        </div>
    </div>
</div>
{% endblock %}