{% extends 'layout.html.twig' %}

{% block title %}Modification des informations personnelles{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>

{% if error %}
<div class="alert alert-danger">
    <strong>Echec de la connexion...</strong> Veuillez vérifier vos identifiants de connexion
</div>
{% endif %}

{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

{% for flashMessage in app.session.flashbag.get('error') %}
<div class="alert alert-danger">
    {{ flashMessage }}
</div>
{% endfor %}

{% if form_errors(userForm.password.first) %}
<div class="alert alert-danger">
    {{ form_errors(userForm.password.first) }}
</div>
{% endif %}

<div class="well">
    {% include "userPrivateInformationForm.html.twig" %}
</div>
{% endblock %}