body { 
    padding-top: 50px; 
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.bodyContent {
	margin-top: 25px;
}

.images {
	border-radius: 7px;
    box-shadow: 1px 1px 10px #555;
}

.itemTitle:hover, .itemTitle:focus {
    text-decoration: none;
}